/* 1. Global Style */

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1170px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 1.2rem;
}

/* 2. Header Section */

header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

header h1 {
  display: inline-block;
  margin: 0;
}

nav {
  display: inline-block;
  float: right;
  padding-top: 10px;
}

ul {
  margin: 0;
  display: inline-block;
}

li {
  list-style-type: none;
  display: inline;
  margin-left: 1.5rem;
}

/* Banner Section */

#banner {
  height: 70vh;
  background-color: chocolate;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/alan-chen-dMB5sBzoTVw-unsplash.jpg");
}

#banner h1 {
  font-size: 3rem;
  margin: 15px 0;
}

#cta-banner {
  background-color: #ffffff;
  padding: 1rem 1.2rem;
  border-radius: 50px;
}

#cta-banner a {
  color: black;
}

#break-line {
  width: 150px;
  height: 5px;
  background-color: white;
}
